/* .App {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
} */

html{
  align-items: center;
  
}
.container{
  align-content: center;
  text-align: center;
}

.greeting{
  text-align: center;
  margin: 0 auto;
  width: 70vw;
  max-width: 50rem;
}

.art__container{
  /* display: block; */
  margin: 0 auto;
  width: max-content;
  max-width: 60rem;
  align-items: center;


  /* background-color: black; */
}
.art__container svg{
   margin: 0 0px -3px;
   overflow: hidden;
}

.form__container{
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.form__container input{
  margin: 0.3rem;
}

@media only screen and (max-width: 1000px) {
  .art__container{
    max-width: 90vw;
  }

}

/* .form__container{
  display: block;
  margin: 0.5rem;
}
 */