/* .App {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
} */

html{
  align-items: center;
  
}
.container{
  align-content: center;
  text-align: center;
}

.greeting{
  text-align: center;
  margin: 0 auto;
  width: 70vw;
}

.art__container{
  /* display: block; */
  margin: 0 auto;
  width: max-content;
  max-width: 90vw;
  align-items: center;


  /* background-color: black; */
}
.art__container svg{
   margin: 0 0px -3px;
}

.form__container{
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

/* .form__container{
  display: block;
  margin: 0.5rem;
}
 */